@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-blue: #7ea0d3;
  --primary-blue: #51627b;
  --primary-green: #8aaf7c;
  --primary-green: #54654e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9f0f0de;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Alice";
  src: url("/Alice-Regular.ttf");
}

@font-face {
  font-family: "Russkopis";
  src: url("/russkopis-book-italic.ttf");
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Alice";
}

.card {
  border: 20px;
  border-radius: 2rem;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  width: 90vw;
  height: 90vh;
  box-sizing: border-box;
  padding: 2rem;
  margin-bottom: 4rem;
}

.app {
  font-family: "Russkopis";
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.logo {
  width: 20rem;
  margin-bottom: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.counter {
  font-size: 15rem;
}

.subheading {
  font-size: 5rem;
}

.border {
  padding: 1rem;
  position: fixed;
  width: 25vw;
  height: 25vw;
  border: none;
}
